# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Intro2D_WS_20_21.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\benne\UnityProjects\Intro2D_WS_20_21\.idea\.idea.Intro2D_WS_20_21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
